.gs-panel-DurationParamPanel .duration-field {
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
}

.gs-panel-DurationParamPanel .duration-field input[type="number"] {
    width: 8em;
}
