<?xml version="1.0" encoding="UTF-8"?>
<!--
  Copyright (c) 2026 Multivers.io

  This program is free software; you can redistribute it and/or modify it under
  the terms of the GNU General Public License as published by the Free Software
  Foundation; either version 2 of the License, or (at your option) any later
  version.

  This program is distributed in the hope that it will be useful, but WITHOUT
  ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
  FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
             http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context.xsd">

  <!--
    The store-panel, WFS output format, and module-status beans are defined by the @Configuration classes below,
    the single source of truth that GeoServer Cloud imports directly. annotation-config registers the processor
    that runs their @Bean methods here, giving vanilla GeoServer the same beans.
  -->
  <context:annotation-config/>

  <bean class="io.tileverse.geoserver.parquetry.config.GeoParquetConfiguration"/>
  <bean class="io.tileverse.geoserver.parquetry.config.IcebergConfiguration"/>
  <bean class="io.tileverse.geoserver.parquetry.config.StacConfiguration"/>
  <bean class="io.tileverse.geoserver.parquetry.config.GeoParquetWfsOutputFormatConfiguration"/>
  <bean class="io.tileverse.geoserver.parquetry.config.ArrowIpcWfsOutputFormatConfiguration"/>
</beans>
